/extras
/requirements.txt
/constants.py
/package-lock.json
/package.json
/.vscode
/node_modules
/backend/chatbot.log
/backend/ingest.log
/backend/docs
/.elasticsearch
/backend/common
/inforeach_process_diagram.png